* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Inter";
}
:root {
  --text-color: white;
  --main-color: rgb(42, 61, 233);
  --white-color: rgb(255, 255, 255);
  --shadow-color: rgba(255, 255, 255, 0.505);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background-size: 100% 100%;
  color: var(--text-color);
}
.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 10%;
  background-image: url(pics/w4.jpg);
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  display: flex;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
  margin-right: auto;
  transition: 0.3s;
}
.logo:hover {
  color: var(--main-color);
  transform: scale(1.02);
  text-shadow: 0 0.1rem 2rem var(--shadow-color);
  transition: 0.3s;
}
.navbar a {
  position: relative;
  font-size: 18px;
  color: var(--text-color);
  font-weight: 500;
  margin-right: 56px;
}
.navbar a.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: var(--text-color);
}
section {
  min-height: 70vh;
  padding: 160px 7%;
  object-fit: cover;
}
.home {
  display: flex;
  background-image: url("pics/w4.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}
.home .home-content {
  padding-left: 30px;
  text-align: center;
}
.home-content h1 {
  font-size: 60px;
  font-weight: 600;
}
.home-content h4 {
  font-size: 34px;
  font-weight: 600;
}
.home-content p {
  font-size: 28px;
  text-align: center;
  margin-left: 18%;
  margin-right: 18%;
}
.home-content .socials a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 2rem;
  color: var(--main-color);
  margin: 2.5rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}
.home-content .socials a:hover {
  background: var(--main-color);
  color: var(--white-color);
  transform: scale(1.2);
}
.btn {
  display: inline-block;
  padding: 1.2rem 1.8rem;
  background: var(--main-color);
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 1.6rem;
  color: var(--white-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 0.2rem solid transparent;
  transition: 0.5s ease;
}
.btn:hover {
  transition: 0.5s ease;
  transform: scale(1.04);
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}
.section .container {
  padding-top: 60px;
  padding-bottom: 40px;
}
.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  border-bottom: 2px solid white;
}
.section-title h2 {
  margin-bottom: 10px;
  text-align: left;
  font-size: 24px;
  color: var(--text-color);
  text-decoration: solid;
  font-weight: 1200;
  text-align: center;
}
.section-title span {
  color: var(--main-color);
}
.about {
  background-image: url("pics/w5.jpg");
  background-size: 100% 100%;
  background-repeat: repeat;
}
.about .about-content {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .about-text {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .about-text h3 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: 700;
  color: var(--text-color);
}
.about .about-content .about-text h3 span {
  color: var(--main-color);
  align-content: center;
}
.about .about-content .about-text p {
  font-size: 20px;
  line-height: 25px;
  color: var(--text-color);
  text-align: justify;
}
.about .row-cont {
  display: flex;
}
.about .about-content .personal-info {
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 40px;
}
.about .about-content .personal-info .info-item {
  flex: 0 0 450%;
  max-width: 50%;
}
.about .about-content .personal-info .info-item p {
  font-weight: 600;
  padding: 10px 0;
  font-size: 16px;
  color: var(--text-color);
  border-bottom: 0.1px solid white;
}
.about .about-content .personal-info .info-item p span {
  font-weight: 400;
  margin-left: 4px;
}
.about .about-content .skills {
  flex: 0 0 40%;
  max-width: 40%;
  margin-top: 40px;
}
.about .about-content .skills .skill-item {
  flex: 0 0 100%;
  max-width: 100%;
}
.about .about-content .skills .skill-item h5 {
  line-height: 40px;
  font-weight: 600;
  font-size: 20px;
  color: var(--text-color);
  text-transform: capitalize;
}
.about .about-content .skills .skill-item .progress {
  background-color: var(--shadow-color);
  height: 7px;
  border-radius: 4px;
  width: 100%;
  position: relative;
}
.about .about-content .skills .skill-item {
  margin-bottom: 25px;
}
.about .about-content .skills .skill-item .progress .progress-in {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 4px;
  background-color: var(--main-color);
}
.about .about-content .skills .skill-item .skill-per {
  position: absolute;
  right: 0;
  color: var(--text-color);
  top: -40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
}
.about .about-content .education,
.about .about-content .experience {
  flex: 0 0 50%;
  max-width: 50%;
  margin-top: 30px;
}
.about .about-content h3.title {
  font-size: 44px;
  margin-bottom: 30px;
  font-weight: 700;
  color: var(--text-color);
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}
.about .about-content .timeline-box {
  flex: 0 0 100%;
  max-width: 100%;
}
.edu-content {
  text-align: left;
  align-items: center;
  justify-content: center;
  padding: 30px 15%;
  padding-left: 0%;
}
.year1 {
  background-color: var(--main-color);
  padding: 8px;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 0.6em;
}
.year2 {
  background-color: var(--main-color);
  padding: 8px;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 0.6em;
}
.year3 {
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  padding: 8px;
  font-size: 16px;
  border-radius: 0.6rem;
}
.edubox {
  padding-top: 30px;
}
.shadow {
  box-shadow: 0 0 2px var(--shadow-color);
}
.year2e {
  background-color: var(--main-color);
  margin-top: 33px;
  border: 2px solid white;
  padding: 8px;
  font-size: 16px;
  border-radius: 0.6rem;
}
.year1edu {
  border: 2px solid var(--main-color);
  border-radius: 0.6rem;
  padding: 8px;
  font-size: 16px;
}
.edubox2 {
  padding-top: 0;
}
.services {
  background-image: url("pics/w5.jpg");
}
.services .services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.services-container .services-box {
  margin-top: 26px;
  flex-grow: 0;
  background-color: var(--bg-color);
  padding: 3rem 5rem 4rem;
  border-radius: 3rem;
  box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
  text-align: center;
  border-top: 0.6rem solid var(--main-color);
  border-bottom: 0.6rem solid var(--main-color);
  transition: 0.5s ease;
}
.services-container .services-box:hover {
  box-shadow: 0 0.2rem 4rem var(--shadow-color);
  background-color: rgba(255, 255, 255, 0.639);
  transform: scale(1.02);
  color: black;
}
.services-box i {
  font-size: 7rem;
  color: var(--main-color);
}
.services-box h3 {
  font-size: 2.6rem;
}
.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
  justify-content: center;
}
.projects .section-title {
  flex: 0 0 100%;
  max-width: 100%;
}
.projects .section-title h2 {
  margin-bottom: 20px;
  text-align: left;
  font-size: 40px;
  color: var(--text-color);
  text-decoration: solid;
  font-weight: 1200;
  text-align: center;
}
.projects .section-title span {
  color: var(--main-color);
}
.projects {
  padding-bottom: 10rem;
  background-image: url(pics/w5.jpg);
  background-repeat: repeat-y;
  background-size: 100%;
  object-fit: cover;
}
.projects h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
.projects .project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.4rem;
}
.project-container .project-box {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--shadow-color);
  overflow: hidden;
}
.project-box img {
  width: 100%;
  transition: 0.5s ease;
}
.project-box:hover img {
  transform: scale(1.1);
}
.project-box .project-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  color: var(--white-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  justify-content: center;
  opacity: 0;
  transition: 0.5s ease;
}
.project-box:hover .project-layer {
  opacity: 1;
}
.project-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}
.project-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background-color: var(--white-color);
  border-radius: 50%;
}
.project-layer a i {
  font-size: 2rem;
  color: #333;
}
.contact {
  color: var(--text-color);
  background-image: url(pics/w5.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-content: center;
  align-items: center;
  padding: 10%;
}
.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}
.contact form .inp-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .inp-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
}
.contact form .inp-box input {
  width: 49%;
}
.contact form textarea {
  resize: none;
}
.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}
.pop {
  position: fixed;
  transform: translateX(-50%);
  color: white;
  background-color: green;
  top: 20px;
  left: 50%;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: medium;
  display: none;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 7%;
  background: var(--main-color);
}
.footer-text p {
  font-size: 1.6rem;
  color: var(--white-color);
}
.footer-icontop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--white-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  outline: 0.2rem solid transparent;
  transition: 0.5s ease;
}
.footer-icontop:hover a {
  outline-color: var(--white-color);
}
.footer-icontop a i {
  font-size: 2.4rem;
  color: #333;
}

/* for mobile devices */

@media screen and (max-width: 1080px) {
  .logo {
    font-size: 1rem;
    /* margin-right: 10%; */
    width: 26vw;
  }

  .header {
    padding: 25px 10px 25px 10px;
  }

  .navbar {
    gap: 0.25rem;
  }

  .navbar a {
    /* visibility: hidden; */
    position: relative;
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 500;
    gap: 0.25rem;
    margin-right: 3px;
  }

  section {
    min-height: 70vh;
    padding: 100px 7%;
    margin: 0px;
    background-image: url("pics/w4.jpg");
    overflow-x: hidden;
    object-fit: cover;
  }

  /* home */

  .home {
    display: flex;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
  }
  .home .home-content {
    margin-top: 80px;
    padding-left: 5px;
    text-align: center;
  }
  .home-content h1 {
    font-size: 2.5rem;
    font-weight: 600;
  }
  .home-content h4 {
    font-size: 1.75rem;
    font-weight: 600;
  }
  .home-content p {
    font-size: 1.5rem;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  .socials {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-content .socials a {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 10px;
  }

  .button {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn {
    text-align: center;
    display: flex;
    justify-content: center;
    width: 40vw;
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  /* about */

  .section-title h2 {
    margin-bottom: 10px;
    text-align: left;
    font-size: 3rem;
    color: var(--text-color);
    text-decoration: solid;
    font-weight: 1200;
    text-align: center;
  }

  .about .about-content .about-text h3 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-color);
  }
  .about .about-content .about-text h3 span {
    color: var(--main-color);
    align-content: center;
  }
  .about .about-content .about-text p {
    font-size: 1.5rem;
    line-height: normal;
    color: var(--text-color);
    text-align: justify;
    margin: 0 2.5rem 0 2.5rem;
  }

  .about .row-cont {
    display: flex;
    flex-direction: column;
  }

  .about .about-content .personal-info {
    flex: 0 0 60%;
    max-width: 100%;
    margin-top: 40px;
  }

  .about .about-content .personal-info .info-item {
    flex: 0 0 450%;
    max-width: 100%;
  }

  .about .about-content .personal-info .info-item p {
    font-weight: 600;
    padding: 10px 0;
    font-size: 1.5rem;
    color: var(--text-color);
    border-bottom: 0.1px solid white;
  }

  .about .about-content .personal-info .info-item p span {
    font-weight: 400;
    margin-left: 4px;
  }

  .about .about-content .skills {
    flex: 0 0 40%;
    max-width: 100%;
    margin-top: 40px;
  }
  .about .about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .about .about-content .skills .skill-item h5 {
    line-height: 40px;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--text-color);
    text-transform: capitalize;
  }
  .about .about-content .skills .skill-item .progress {
    background-color: var(--shadow-color);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
  }

  .about .about-content .education,
  .about .about-content .experience {
    flex: 0 0 50%;
    max-width: 100%;
    margin-top: 30px;
  }
  .about .about-content h3.title {
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-color);
    border-bottom: 2px solid white;
    padding-bottom: 10px;
  }
  .about .about-content .timeline-box {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .edu-content {
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
  }
  .year1 {
    background-color: var(--main-color);
    padding: 8px;
    font-size: 1.4rem;
    border: 2px solid white;
    border-radius: 0.6em;
  }
  .year2 {
    background-color: var(--main-color);
    padding: 8px;
    font-size: 1.4rem;
    border: 2px solid white;
    border-radius: 0.6em;
  }
  .year3 {
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    padding: 8px;
    font-size: 1.4rem;
    border-radius: 0.6rem;
  }
  .edubox {
    padding-top: 30px;
  }
  .shadow {
    box-shadow: 0 0 2px var(--shadow-color);
  }
  .year2e {
    background-color: var(--main-color);
    margin-top: 33px;
    border: 2px solid white;
    padding: 8px;
    font-size: 1.4rem;
    border-radius: 0.6rem;
  }
  .year1edu {
    border: 2px solid var(--main-color);
    border-radius: 0.6rem;
    padding: 8px;
    font-size: 1.4rem;
  }

  .about .about-content .education,
  .about .about-content .experience {
    flex: 0 0 50%;
    max-width: 100%;
    margin-top: 30px;
  }

  .services .services-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .services-container .services-box {
    margin-top: 26px;
    max-width: 90%;
    flex-grow: 0;
    background-color: var(--bg-color);
    padding: 2rem 3rem;
    border-radius: 3rem;
    box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
    text-align: center;
    border-top: 0.6rem solid var(--main-color);
    border-bottom: 0.6rem solid var(--main-color);
    transition: 0.5s ease;
  }

  .services-box i {
    font-size: 5rem;
    color: var(--main-color);
  }
  .services-box h3 {
    font-size: 2.6rem;
  }
  .services-box p {
    font-size: 1.4rem;
    margin: 1rem 0 3rem;
    justify-content: center;
  }

  .projects .section-title {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .projects .section-title h2 {
    margin-bottom: 20px;
    text-align: left;
    font-size: 2rem;
    color: var(--text-color);
    text-decoration: solid;
    font-weight: 1200;
    text-align: center;
  }
  .projects .section-title span {
    color: var(--main-color);
  }
  .projects {
    padding-bottom: 10rem;
    background-image: url(pics/w5.jpg);
    object-fit: cover;
    background-repeat: repeat-y;
    /* background-size: 100%; */
  }
  .projects h2 {
    margin-bottom: 2rem;
    font-size: 2.4rem;
  }
  .projects .project-container {
    gap: 3.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project-container .project-box {
    position: relative;
    display: flex;
    width: 100%;
    height: 66%;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--shadow-color);
    overflow: hidden;
  }
  .project-box img {
    width: 100%;
    transition: 0.5s ease;
  }
  .project-box:hover img {
    transform: scale(1.1);
  }
  .project-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
    color: var(--white-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    justify-content: center;
    opacity: 0;
    transition: 0.5s ease;
  }
  .project-box:hover .project-layer {
    opacity: 1;
  }
  .project-layer p {
    font-size: 1.4rem;
    margin: 0.3rem 0 1rem;
  }
  .project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: var(--white-color);
    border-radius: 50%;
  }
  .project-layer a i {
    font-size: 2rem;
    color: #333;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 7%;
    background: var(--main-color);
  }
  .footer-text p {
    font-size: 0.8rem;
    color: var(--white-color);
  }
  .footer-icontop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.3rem;
    background: var(--white-color);
    border: 0.2rem solid var(--main-color);
    border-radius: 0.8rem;
    outline: 0.2rem solid transparent;
    transition: 0.5s ease;
  }
  .footer-icontop:hover a {
    outline-color: var(--white-color);
  }
  .footer-icontop a i {
    font-size: 1.5rem;
    color: #333;
  }
}
